
.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.topnavbar {
    height: 86px !important;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
.header-container a:hover{
    font-color: red;
    text-decoration: none;
}
.header-container {
    display:block;
    max-width: 1140px;
    width:100%;
    margin: 0 auto;
    height:100%;
}
.header-nav-left {
    display: block;
    height: 100%;
    float:left;
    min-width: 200px;
}
.header-nav-right {
    display: block;
    height: 100%;
    float: right;
    margin-right: 20px;
    overflow: hidden;
}
.header-nav-left a {

    padding: 14px 9px;
    text-align:center;
    font-size: 11px;
    color: #000000 !important;
}
.header-text-span {
    display: inline-block;
    padding: 34px 10px 32px;
}
.header-icon-span {
    display: inline-block;
    height:100%;
    padding: 32px 10px 30px;
}
.header-nav-logo {
    height: 45px;
    vertical-align:middle;
    float:left;
    width: 140px;
    margin: 20px 0 20px 0;
}
.header-nav-right a {
    float: right;
    display:block;
    text-align:center;
    text-decoration: none;
    font-size: 11px;
    color: #000000 !important;
}
.home-intro {
    margin: 0 0 0 0;
}
.main-content {
    display:block;
}
.mainCarousel {
    padding-bottom:20px;
    max-width:100%;
}
.max-width-img {
    max-width: 100%;
    height: auto;
}
.carousel {
    width:100%;
}
.carousel-item {
    width: 100%;
    height: 100%;

}
.img-shadow {
    position: relative;
    box-shadow:  0 2rem 5rem -2.5rem rgba(0,0,0,0.25), 0rem 0.3rem 0.5rem -0.4rem rgba(0,0,0,0.4)
}
.row {
    overflow:hidden;
    max-height: 100%;
}
.home-pitch {
    padding: 60px 0 60px 0;

}
.intro-content {
    font-size: 28px;
}
.detail-content {
    color: #5c5c5c;
    font-size: 13px;
    max-width: 655px;
    margin: auto;
    margin-top: 15px;
}
.tile {
    width: 100%;
    margin: 0;
    overflow:hidden;
    height: 100%;
}
.tile-img {
    overflow:hidden;
    margin-bottom: 15px;
}
.home-secondary {
    padding: 0 15px 0 15px;
}

.home-wide-product {
    margin: 30px 0 30px 0;
    padding: 0 30px 0 30px;
    height: 100%;
    width: 100%;
}
.wide-background-img-div {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}
.wide-product-section {
    padding: 30px 0 30px 0;
}
.tile-title {
    font-size: 18px;
    margin: 15px 0 9px 0;
}
.ta {
    color: black;
    font-size: 11px;
    display: inline-block;
    text-decoration: underline;
}
.wide-img-div {
    height: 100%;
    margin-bottom: 30px;

}
.overlay {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.ver-center-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}
.overlay-content {
    padding-left: 15px;
}
.overlay-title {
    font-size: 35px;
    color: white;
    font-weight: 600;
}
.rectangle-button-wrapper {
    margin-top: 27px;
    display: block;
}
.rectangle-button-wrapper a {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align:center;
    transition: all 0.3s ease 0s;
    padding: 10px 50px;
    font-weight: 500;
}
.footer-wrapper {
    padding:30px 5% 71px;
}



@media only screen and (min-width: 1024px) {
    .main-content {
    }
    .home-secondary {
        margin-top: 20px;
        max-height: 700px;
    }
    .home-wide-product {
        padding: 0 30px 0 30px;
    }
    .rectangle-button-wrapper {
        float: left;
    }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (max-width: 768px) {
    .front-page-intro {
        margin: 0 0 0 0;
    }

    .home-secondary {
        height: 100%;
        max-height: 1200px;
        padding: 0;
    }
    .tile {
        margin-bottom: 20px;
    }
    .wide-product-section {
        padding: 0;
    }
    .home-wide-product {
        padding: 0;
    }
    .home-pitch {
        padding: 15px 0 15px 0;
    }
    .rectangle-button-wrapper {
        float: none;
    }

}

