.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a, a:hover, a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
    border: none;
}
.topnavbar {
    height: 86px !important;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
.header-container a:hover{
    font-color: red;
    text-decoration: none;
}
.header-container {
    display:block;
    max-width: 1140px;
    width:100%;
    margin: 0 auto;
    height:100%;
}
.header-nav-left {
    display: block;
    height: 100%;
    float:left;
    min-width: 200px;
}
.header-nav-right {
    display: block;
    height: 100%;
    float: right;
    margin-right: 20px;
    overflow: hidden;
}
.header-nav-left a {

    padding: 14px 9px;
    text-align:center;
    font-size: 11px;
    color: #000000 !important;
}
.header-text-span {
    display: inline-block;
    padding: 34px 10px 32px;
}
.header-icon-span {
    display: inline-block;
    height:100%;
    padding: 32px 10px 30px;
}
.header-nav-logo {
    height: 45px;
    vertical-align:middle;
    float:left;
    width: 140px;
    margin: 20px 0 20px 0;
}
.header-nav-right a {
    float: right;
    display:block;
    text-align:center;
    font-size: 11px;
    color: #000000 !important;
}
.home-intro {
    margin: 0 0 0 0;
}
.main-content {
    display:block;
}
.mainCarousel {
    padding-bottom: 20px;
    max-width:100%;
    max-height: 800px;
}
.max-width-img {
    max-width: 100%;
    height: auto;
}
.carousel {
    width:100%;
}
.carousel-item {
    width: 100%;
    height: 100%;

}
.img-shadow {
    position: relative;
    box-shadow:  0 2rem 5rem -2.5rem rgba(0,0,0,0.25), 0rem 0.3rem 0.5rem -0.4rem rgba(0,0,0,0.4)
}
.row {
    overflow:hidden;
    max-height: 100%;
}
.home-pitch {
    padding: 60px 0 60px 0;

}
.intro-content {
    font-size: 28px;
}
.detail-content {
    color: #5c5c5c;
    font-size: 13px;
    max-width: 655px;
    margin: auto;
    margin-top: 15px;
}
.tile {
    width: 100%;
    margin: 0;
    overflow:hidden;
    height: 100%;
}
.tile-img {
    overflow:hidden;
    margin-bottom: 15px;
}
.home-secondary {
    padding: 0 15px 0 15px;
}

.home-wide-product {
    margin: 30px 0 30px 0;
    padding: 0 30px 0 30px;
    height: 100%;
    width: 100%;
}
.wide-background-img-div {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}
.wide-product-section {
    padding: 30px 0 30px 0;
}
.tile-title {
    font-size: 18px;
    margin: 15px 0 9px 0;
}
.ta {
    color: black;
    font-size: 11px;
    display: inline-block;
    text-decoration: underline;
}
.wide-img-div {
    height: 100%;
    margin-bottom: 30px;

}
.overlay {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.ver-center-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
}
.overlay-content {
    padding-left: 15px;
}
.overlay-title {
    font-size: 35px;
    color: white;
    font-weight: 400;
}
.rectangle-button-wrapper {
    margin-top: 27px;
    display: block;
}
.rectangle-button-wrapper a {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    text-align:center;
    transition: all 0.3s ease 0s;
    padding: 10px 50px;
    font-weight: 500;
}
.footer-wrapper {
    padding:30px 5% 71px;
}
.full-background-image {
    background: url('chelsea-francis-3458.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 250px;
}
.vert-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.category-banner-title {
    font-size: 35px;
    color: white;
    font-weight: 500;
}

.sorter-wrapper {
    height: 40px;
    border-bottom: 1px solid #f6f6f6;
}
.sorter-wrapper p {
    margin: 13px 0 0 0;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1.5px;
}
a {
    text-decoration: none !important;
    color:black !important;
}
.product-box {
    margin-bottom:10px;
    padding-bottom: 20px;

}
.product-list-wrapper {
    max-width: 600px;
    overflow:hidden;
    margin: 30px auto;
    padding: 0;
}

.product-list-wrapper p, .product-list-wrapper h4 {
    color: #000000;
}
.product-box .thumbnail{
    overflow: hidden;
}

.caption {
    padding-top:20px;
    font-size:12px;
}
.product-box-brand-logo {
    height:40px;
    vertical-align:middle;
    float:left;
    width: 60px;
    margin: 10px 0 10px 5px;
}
.product-name {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 16px;
}
.product-box-brand-wrapper {
    float: left;
    height:100%;
    padding: 20px 0 20px 10px;
}
.message-wrapper {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 100px 0;
}
.brand-box {
    width:400px;
    padding-bottom: 20px;
}
.fixed-height-img-wrapper {
    max-height:300px;
    overflow:hidden;
    width: 100%;
}

.side-top-offset {
    margin: 0;
}


@media only screen and (min-width: 1250px) {

}
@media only screen and (min-width: 1024px) {
    .home-secondary {
        margin-top: 20px;
        max-height: 700px;
    }
    .home-wide-product {
        padding: 0 30px 0 30px;
    }
    .rectangle-button-wrapper {
        float: left;
    }
    .full-background-image {
        height: 350px;
    }
    .product-list-wrapper {
        padding: 0 10px;
    }


}
@media only screen and (min-width: 768px) {
    .full-background-image {
        height: 350px;
    }
    .side-top-offset {
        margin: 30px 15px 0 15px;
    }
}
@media only screen and (min-width: 650px) {
    .product-box {
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        margin-bottom:60px;
    }
}
@media only screen and (max-width: 768px) {
    .front-page-intro {
        margin: 0 0 0 0;
    }

    .home-secondary {
        height: 100%;
        max-height: 1200px;
        padding: 0;
    }
    .tile {
        margin-bottom: 20px;
    }
    .wide-product-section {
        padding: 0;
    }
    .home-wide-product {
        padding: 0;
    }
    .home-pitch {
        padding: 15px 0 15px 0;
    }
    .rectangle-button-wrapper {
        float: none;
    }
    .product-list-wrapper {
        margin: 5px auto;
    }
    .brand-box {
        padding-right: 0 !important;
        padding-left: 0!important;
    }
    .fixed-height-img-wrapper {
        max-height:400px;
    }

}

